<style>
  .customKeyIngredients .CustomSectionHeader {
    margin-bottom: 45px;
    margin-top: 52px;
  }
  #section-{{ section.id }} {
    color: {{ section.settings.text_color }};
    /* Removed background color */
  }
  .CustomContainer--normal {
    max-width: 1270px;
    margin: auto;
  }
  .customKeyIngredients img {
    width: 175px !important;
    height: 175px !important;
    border-radius: 0% !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    object-fit: contain;
  }
  .customAyurHead {
    /* Custom styles for heading */
    text-align: center;

  }
  .CustomIngrSlider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-around;
  }
  .customItem {
    flex: 0 0 auto;
    width: 350px;
    margin: 0 10px;
    text-align: left; /* Changed to left alignment */
    background-color: #f5f6f6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .customItem .description {
    margin-top: 10px;
  }
  @media(max-width: 750px) {
    .customKeyIngredients {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .CustomIngrSlider {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .customItem {
      width: 50%; /* Show two items per row */
      margin: 0px 20px 0px 0px;
      flex: 0 0 100%;
    }
    .customAyurHead {
      margin-left: 15px;
    }
    .customIngredientBtn {
      margin-left: 15px;
      margin-right: 5px;
    }
  }
</style>

{% assign product_tag = product.tags %}
{%- if product_tag != blank -%}  
{%- if section.settings.subheading != blank or section.settings.heading != blank -%}  
<section class="Section Section--spacingNormal customKeyIngredients_fullsec" id="section-{{ section.id }}">
  {% assign product_handle = product.handle %}
  <div class="CustomContainer--normal">
    <div class="customKeyIngredients">
      {%- if section.settings.subheading != blank or section.settings.heading != blank -%}  
        <header class="CustomSectionHeader">
          {%- if section.settings.subheading != blank -%}
            <div class="CustomSectionHeader__SubHeading Heading u-h5 customAyurHead">{{ section.settings.subheading }}</div>
          {%- endif -%}
          {%- if section.settings.heading != blank -%}
            <h2 class="CustomSectionHeader__Heading Heading u-h1 text-left customAyurHead">{{ section.settings.heading }}</h2>
          {%- endif -%}
        </header>    
      {%- endif -%}
      <div class="CustomIngrSlider">
        <!--/ ONLY print specific page data -->
        {% for block in section.blocks %}
          {% assign dyproduct_tag = block.settings.ing_tags %}
          {% assign dyproduct_tag_2 = block.settings.ing_tags_2 %}
          {% assign product_tag = product.tags %}
          {% for tag in product.tags %}
            {% if tag == dyproduct_tag %}
              <div class="customItem text-left">
                <div class="content-container">
                  {%- if block.settings.ing_description != blank -%} 
                    <div class="description gs-content" aria-label="false">{{ block.settings.ing_description }}</div> 
                  {%- endif -%}
                </div>
              </div>
            {% elsif tag == dyproduct_tag_2 %}
              <div class="customItem text-left">
                <div class="content-container">
                  {%- if block.settings.ing_description_2 != blank -%} 
                    <div class="description gs-content" aria-label="false">{{ block.settings.ing_description_2 }}</div> 
                  {%- endif -%}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Additional Information",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Enter the Sub Heading for the section"
    },		
    {
      "type": "text",
      "id": "heading",
      "label": "Enter the heading for the section"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#f5f6f6"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#808182"
    }
  ],
  "presets": [{
    "name": "Additional Information",
    "settings": {}
  }],
  "max_blocks": 50,
  "blocks": [
    {
      "type": "text_block",
      "name": "Product Management",
      "settings": [
        {
          "type": "richtext",
          "id": "ing_description",
          "label": "Product description"
        },
        {
          "type": "textarea",
          "id": "ing_tags",
          "label": "Product Tag",
          "info": "Enter The exact tag added to the product eg. cucumber"
        },
        {
          "type": "richtext",
          "id": "ing_description_2",
          "label": "Product description"
        },
        {
          "type": "textarea",
          "id": "ing_tags_2",
          "label": "Product Tag",
          "info": "Enter The exact tag added to the product eg. cucumber"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
